@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Guy Duval</h3>

<address>
    <strong>Cellulaire:</strong> 438-880-4626<br />
    <strong>Courriel:</strong> <a href="mailto:info@photos-hdr.duvaux.ca">info@photos-hdr.duvaux.ca</a>
</address>