@{
    ViewBag.Title = "Photographie numérique \"HDR\"";
}

<div id="banner" class="page-header">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Guy Duval - Photographie numérique "HDR"</h1>
            <p class="lead">La photo qui repousse les limites de la lumière</p>
        </div>
    </div>
</div>

<div class="col-sm-8">

    <h2>Bienvenue,</h2>
    <p>Ce site intéressera surtout les courtiers immobiliers de la Rive-Sud de Montréal et des environs et toutes autres personnes que la photographie "HDR" intéressent.</p>
    <p>Les futurs acheteurs de propriété utilisent de plus en plus Internet pour faire des recherches sur les propriétés disponibles. Ils en profitent pour faire une sélection leur permettant de réduire le nombre de visites et ainsi sauver du temps. Un élément important, lors de cette recherche, est l'album photo accompagnant la description de la propriété. Des photos de qualité, avec une luminosité exceptionnelle, permet d'attirer l'oeil et d'avoir un aperçu beaucoup plus réaliste de la qualité de la propriété. La technologie "HDR" permet cela et elle est disponible à faible coût. Cliquez sur l'onglet porte folio pour avoir un aperçu de la qualité des photos possibles avec cette technologie et visitez les onglets des visites virtuelle et immersive.</p>
    <p>Pour réussir des photos "HDR", adaptées aux besoins des courtiers immobiliers, cela prend un appareil de qualité, un objectif grand angle avec zoom permettant d'adapter la distance focale (mm) à la prise de vue désirée et un logiciel spécialisé permettant la réalisation du volet "HDR" des photos. Maitenant, avec 2 collaborateurs, nous pouvons vous offrir un meilleur service</p>
    <img src="http://photos-hdr.duvaux.ca/WEFiles/Image/WEImage/22202da2DEFAULT.jpg" class="center-block img-rounded img-responsive">
    <!--
    <h2>Profil</h2>
    
    <p>Amateur de photographie depuis 1975 avec du 35 mm en modes photos et diapositives, je suis passé au numérique au début des années 2000. Mes sujets préférés étaient et sont toujours tout ce qui concerne la nature (paysages, animaux, soleil, eau, végétaux) et aujourd'hui, avec la technologie HDR, l'immobilier s'est ajouté à la liste.</p>
    <p>Étant informaticien de carrière, la photographie numérique rejoingnait deux passions : la photographie et la technologie informatique.</p>
    <p>N'ayant pris connaissance qu'en 2011 de la technologie HDR, j'ai été immédiatement séduit par l'effet naturel et réaliste que cette technologie permettait de donner aux photos. L'augmentation de la plage dynamique permet enfin aux photos numériques de se rapprocher de la vision humaine.</p>
    <p>Je pratique donc cette technique de photographie depuis 2011. Maintenant avec le nouvel appareil Canon 7D Mark II, un objectig Sigma 8-16mm et Canon 24-70mm. Ces deux objectifs me permettent de réaliser une large gamme de prises de vue. En particulier, le grand angle est un atout important pour les besoins des courtiers immobiliers.</p>
    <p>
        Maintenant à la retraite de ma profession première (informaticien), mon objectif est de continuer ma passion pour la photographie HDR dans deux domaines :
        <ul>
            <li>La nature (paysages, animaux, végétaux, eau, soleil)</li>
            <li>L'immobilier, en offrant mes services comme photographe pour les courtiers immobiliers désirant offrir à leur clientèle une qualité de photos HDR et de visites virtuelles pour l'inscription de leurs propriétés</li>
        </ul>
    </p>
        -->
    
</div>

<div class="col-sm-4">
    @Html.Partial("Contact")
</div>