<div class="filter small">
    @using (@Html.BeginForm("Index", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Get, new { @class = "form-inline" }))
    {
        <input name="asc" value="@ViewBag.isAsc" type="hidden" />
        <input name="sortString" value="@ViewBag.orderBy" type="hidden" />
        <input name="agentId" value="@ViewBag.SelectedAgentID" type="hidden" />

        <label for="statutSelect" class="control-label">Filtre par statut: </label>
        <select name="Statut" id="statutSelect" onchange="this.form.submit()" class="form-control">
            <option value="">Tous</option>
            <option value="Demandé" @if (ViewBag.Statut == "Demandé") { <text> selected</text> }>Demandé</option>
            <option value="Confirmé" @if (ViewBag.Statut == "Confirmé") { <text> selected</text> }>Confirmé</option>
            <option value="Reporté" @if (ViewBag.Statut == "Reporté") { <text> selected</text> }>Reporté</option>
            <option value="Réalisé" @if (ViewBag.Statut == "Réalisé") { <text> selected</text> }>Réalisé</option>
            <option value="Livré" @if (ViewBag.Statut == "Livré") { <text> selected</text> }>Livré</option>
            <option value="Facturé" @if (ViewBag.Statut == "Facturé") { <text> selected</text> }>Facturé</option>
        </select>
    }
</div>
